@import url('https://fonts.googleapis.com/css?family=Abel|Lobster&display=swap');
body {
    font-family: 'Lobster', cursive;
    background-color: rgb(206, 216, 238);
  }
.title{
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: rgb(50, 50, 137);
  text-shadow: 5px 3px 6px rgb(169, 167, 167);

}

.cal{
  display: flex;
  justify-content: center; 
  margin-top: 30px;
}

input{
  border-radius: 10px;
  border: 0px;
}

button{
  height:50px;
  border-radius: 10px;
  border: 0px;
  font-size: 25px;
  font-weight: 500;
  color: rgb(60, 60, 125);
  font-family: 'Abel', sans-serif;
  box-shadow: 3px 3px 8px rgb(164, 163, 163);
  transition: 0.2s ease-in-out;
}

#wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 80%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.numInput{
  grid-column: 1/4;
  grid-row: 1;
  display: flex;
  justify-content: right;
  text-align: right;
  font-size: 17px;
}

.zero{
  grid-column: 1/3;
  grid-row:5;
}

button:active{
  color: white;
  background-color: rgb(160, 160, 160);
}




@media screen and (min-width: 600px){
  #wrapper{
    
    width: 500px;
  }
}

.op{
  background-color: rgba(155, 155, 208, 0.939);
}

.clear{
  background-color: rgb(147, 117, 174); 
  color: white;
}




